@charset"UTF-8";

nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 520px;
}

nav#menu li {
    display: inline-block;
    background-color: #ddd;
    padding: 10px;
    margin: 2;
    transition:background-color 1s;
}

nav#menu li:hover {
    background-color: #606060;
}

nav#menu h1 {
    display: none;
}

nav#menu a {
    color: #000000;
    text-decoration: none;
}

nav#menu a:hover{
    color: #ffffff;
}